<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title></title>
  <link href="./lib/Bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="./res/css/styles.css" rel="stylesheet">
  <script src="./lib/Bootstrap/bootstrap.bundle.min.js" defer></script>
  <script src="./lib/filtrex/filtrex.min.js"></script>
  <script type="module" src="./res/scripts/app.js" defer></script>
</head>

<body data-bs-theme="dark" id="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="sticky-md-top">
          <div class="card">
            <img src="#" class="card-img-top" alt="">
            <div class="card-body">
              <div class="d-grid gap-2">
                <h5 class="card-title">face.ahk</h5>

                <div class="row align-items-center">
                  <div class="col-sm">
                    <button type="button" class="btn w-100 btn-primary" data-bs-toggle="modal"
                      :disabled="shouldDisabled" data-bs-target="#new-profile-modal">Create Profile</button>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn w-100 btn-success" :disabled="!hasProfiles || shouldDisabled"
                      @click="saveProfiles">Save Profile</button>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn w-100 btn-danger" @click="removeProfile"
                      :disabled="!hasProfiles || shouldDisabled">Remove Profile</button>
                  </div>
                </div>
                <div class="hstack gap-3"></div>

                <select class="form-select" :disabled="shouldDisabled" size="3" v-model="app.profiles.selection"
                  aria-label="select example">
                  <option v-for="(profile, index) in app.profiles.items" :value="index">
                    {{ profile.name }}
                  </option>
                </select>

                <div class="hstack gap-3"></div>

                <button class="btn btn-primary" type="button" data-bs-toggle="modal" :disabled="!shouldDisabled"
                  data-bs-target="#blendshapes-modal">Blendshapes</button>

                <input id="webcamButton" type="checkbox" class="btn-check" @click="toggleWebcam">
                <label class="btn btn-outline-success" for="webcamButton">Toggle Predictions</label>
                <div class="hstack gap-3"></div>

                <div id="liveView" class="videoView">
                  <video id="input_video" ref="input_video" autoplay></video>
                  <canvas id="output_canvas" ref="output_canvas" class="output_canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div id="blendgroup-container" class="d-grid gap-2" v-if="hasProfiles">
          <button type="button" class="btn w-100 btn-success" @click="createBinding">Create Binding</button>
          <div class="card blendgroup-container"
            v-for="(binding, index) in app.profiles.items[app.profiles.selection].bindings">
            <div class="card-header d-grid blendgroup-header">
              <div class="row align-items-center p-0 m-0">
                <div class="col-auto p-0">
                  <div class="row">
                    <div class="col-sm">
                      <div class="p-2 rounded-1 bg-success"
                        :class="{ 'visually-hidden': (!(binding.start.activated) || !(shouldDisabled)) }" role="status">
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="p-2 rounded-1 bg-danger"
                        :class="{ 'visually-hidden': (!(binding.stop.activated) || !(shouldDisabled)) }" role="status">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                </div>
                <div class="col-auto p-0">
                  <button type="button" class="btn-close" @click="removeBinding(index)"></button>
                </div>
              </div>
            </div>
            <div class="d-grid gap-2 card-body blend-shapes-items">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card text-center">
                    <div class="card-body">
                      <h6 class="card-title">Start</h6>
                      <p></p>
                      <input class="form-control" spellcheck="false" placeholder="Logical Expression"
                        @change="logicChanged(binding.start)" v-model="binding.start.logic">
                      <div class="invalid-feedback">
                        <!-- Please enter a message in the textarea. :class="{is-invalid: (binding.start.fn)}" -->
                      </div>
                      <p></p>
                      <input class="form-control" spellcheck="false" placeholder="Key Binding"
                        v-model="binding.start.ahk">
                      <div class="invalid-feedback">
                        <!-- Please enter a message in the textarea. -->
                      </div>
                      <p></p>
                      <input type="range" class="form-range" min="0" max="1000" step="50"
                        v-model="binding.start.debounce">
                      <!-- <input type="number" id="quantity" name="quantity" min="0" max="1000" step="50"> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-center">
                    <div class="card-body">
                      <h6 class="card-title">Stop</h6>
                      <p></p>
                      <input class="form-control" spellcheck="false" placeholder="Logical Expression"
                        @change="logicChanged(binding.stop)" v-model="binding.stop.logic">
                      <p></p>
                      <input class="form-control" spellcheck="false" placeholder="Key Binding"
                        v-model="binding.stop.ahk">
                      <p></p>
                      <input type="range" class="form-range" min="0" max="1000" step="50"
                        v-model="binding.stop.debounce">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-else class="d-flex flex-column h-100 justify-content-center align-items-center">
          <h5>Create a profile to get started.</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <section id="demos">
            <div class="blend-shapes">
              <ul class="blend-shapes-list" id="video-blend-shapes"></ul>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Profile Modal -->
  <div class="modal fade" id="new-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" spellcheck="false" placeholder="Profile Name"
            v-model="app.modals.name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="createProfile">Create
            Profile</button>
        </div>
      </div>
    </div>
  </div>

  <!--Blendshapes Modal -->
  <div class="modal fade" id="blendshapes-modal" tabindex="-1" aria-labelledby="blendshapes modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Blendshapes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div v-for="(value, key) in mp.bs" class="row align-items-center p-0 m-0 blendshape-item">
              <div class="col-3 text-right">
                {{ key }}
              </div>
              <div class="col-9">
                <div class="d-grid gap-1 position-relative">
                  <div class="progress position-relative">
                    <div class="progress-bar bg-success" :style="'width: ' + value + '%;'" role="progressbar"></div>
                    <div class="justify-content-center align-items-center d-flex position-absolute w-100 h-100">{{ value
                      }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <template id="blendgroup-template">
    <div class="card blendgroup-container">
      <div class="card-header d-grid blendgroup-header">
        <div class="row align-items-center p-0 m-0">
          <div class="col-auto p-0">
            <button type="button" class="btn-close create-blendshape-button remove-blendgroup-button"></button>
          </div>
          <div class="col-sm">
            <input class="form-control" spellcheck="false" placeholder="Activation Logic">
          </div>
          <div class="col-sm">
            <input class="form-control" spellcheck="false" placeholder="Deactivation Logic">
          </div>
          <div class="col-sm">
            <input class="form-control" spellcheck="false" placeholder="Activation Key">
          </div>
          <div class="col-sm">
            <input class="form-control" spellcheck="false" placeholder="Deactivation Key">
          </div>
          <div class="col-auto p-0">
            <button type="button" class="btn-close remove-blendgroup-button"></button>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 card-body blend-shapes-items">

      </div>
    </div>
  </template>

  <template id="blendshape-template">
    <div class="row align-items-center p-0 m-0 blendshape-item">
      <div class="col-auto">
        <input class="form-control" spellcheck="false" list="dl-blendshapes" placeholder="Blendshape...">
      </div>
      <div class="col-md">
        <div class="d-grid gap-1 position-relative">
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar"></div>
          </div>
          <input type="range" class="form-range position-absolute">
        </div>
      </div>
      <div class="col-auto p-0">
        <button type="button" class="btn-close remove-blendshape-button" aria-label="Close"></button>
      </div>
    </div>
  </template>

</body>

</html>